extends layout

block content

  div.hero
    div.container-fluid
      div.row
        div.col-md-2
        div.col-md-4
          div.headlineContainer
            span.headline Creative writing
            span.headline made easy.
        div.col-md-8
  div.features
    div.container-fluid
      div.row
        div.col-md-10.col-md-offset-1
          div.row
            div.col-md-4
              i.fa.fa-picture-o.fa-5x(aria-hidden="true")
              div.feature
                h4 Generate Prompts
                p Randomly generated especially for you in the form of three high-quality, beautiful, diverse images.
            div.col-md-4
              i.fa.fa-user.fa-5x.userIcon(aria-hidden="true")
              div.feature
                h4 Receive Feedback
                p Publish stories into your online journal so other writers can give you valuable feedback on each piece. 
            div.col-md-4
              i.fa.fa-book.fa-5x.bookIcon(aria-hidden="true")
              div.feature
                h4 Get Inspired
                p Read hundreds of short stories written by other talented users. Browse stories by top-rated and latest.
  div.signUp
    div.container-fluid
      div.row
        div.col-md-4.col-md-offset-4
          h2 Get Started Today
          p Signing up is quick and easy. Simply click the button below to log in using your Google account.
          div.row
            div.col-md-8.col-md-offset-2
              a(href="/auth/google")
                button.form-control.signUpButton Sign Up
