extends layout

block content
  h1= title
  if user
    p
      |Hello #{user.displayName}
      ||
      a(href="/logout") Logout
  else
    p
      a(href="/auth/linkedin") Login
  p Welcome to #{title}
