extends ../layout

block content
  p List of Users
    table.table.table-striped
      thead
        tr
          th Username
          th Book
      tbody
        for user in allUsers
          tr
            td
              a(href='/users/' + user.username)= user.username
            td
              if user.stories
                for story in user.stories
                  option #{story.title}
                  option #{story.likes}
                  
  
