extends ../layout

block content
  h2 Featured Donut Eaters
  table.table.table-striped
    thead
      tr
        th Username
        th Stories
    tbody
      for user in allUsers
        tr
          td
            a(href='/users/' + user.username)= user.username
            br
            = user.size + ' published stories'
          td
            if user.stories
              for story in user.stories
                a(href= '/stories/' + story.id) #{story.title}
                span  ... #{story.likes} likes
                br
