/* MAIN STYLES */

body {
  font: 14px 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin-top: 60px;
  padding-top: 50px;
}


/* SHOW PAGE STYLES*/

.image {
  left: -50%;
  top: -50%;
  position: absolute;
  width: 600px;
}

.imageContainer {
  width: 230px;
  height: 230px;
  overflow: hidden;
  position: relative;
  margin: 12px 18px 12px 0;
  display: inline-block;
}

/* HOMEPAGE STYLES */

.hero {
  background-color: #000;
  height: 500px;
  background-image: url('../images/hero.jpg');
}

.headlineContainer {
  margin-top: 46%;
}

.headline {
  font-size: 40px;
  color: #fff;
  display: block;
}

.features {
  text-align: center;
  margin: 80px 50px 80px 50px;
}

.features i {
  font-size: 80px;
}

.features h4 {
  font-size: 24px;
}

.feature {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.signUp {
  background-color: #666;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.signUp h2 {
  color: #fff;
}

.signUp a:hover {
  text-decoration: none;
}

.signUpButton {
  background-color: #590d0d;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.signUpButton:hover {
  background-color: #4e0000;
}

/* FORM STYLES*/

.error {
  color: red;
}

.container .formContainer input, .container .formContainer textarea {
  margin-bottom: 20px;
  box-shadow: none;
}

form {
  margin-top: 10px;
}

.formContainer textarea:focus, .formContainer input:focus, .formContainer select:focus {
  box-shadow: none;
  border: 1px solid #4E0000;
}

.form-button-save {
  background-color: #AAA;
  color: #fff;
  border: none;
  margin-top: 40px;
}

.form-button-save:hover {
  background-color: #CCC;
}

.form-button-publish {
  background-color: #4E0000;
  color: #fff;
  border: none;
  margin-top: 40px;
}

.form-button-publish:hover {
  background-color: #400000;
}


/* NAV STYLES */

.nav {
  padding: 0 30px 0 50px;
  background-color: #4E0000;
  color: #d3d3d3;
  margin-bottom: 0;
}

.navContainer {
  padding-left: 7%;
  padding-right: 7%;
}

.nav a {
  color: #d3d3d3;
  margin-top: 6px;
}

.navbar-right {
  margin-top: 8px;
}

.icon-bar {
  background-color: #d3d3d3;
  margin-top: 8px;
}

.navbar ul a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar ul a:hover {
  color: #333;
}

.login a {
  text-decoration: none;
  font-size: 14px;
  color: #d3d3d3;
}

.login {
  border: 2px solid #d3d3d3;
  padding: 4px;
}

.logo {
  width: 200px;
}

.loggedAs {
  margin-top: 17px;
  color: #808080;
  margin-left: 8px;
  margin-right: 8px;
}
