/* MAIN STYLES */

body {
  font: 14px 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

/*.container {
  margin-top: 60px;
  padding-top: 50px;
}*/

.spacer {
  margin-top: 60px;
}


/* SHOW PAGE STYLES*/

.storyPage {
  padding-top: 50px;
}

.storyBody {
  margin-top:20px;
}

.image {
  left: -50%;
  top: -50%;
  position: absolute;
  width: 600px;
}

.imageContainer {
  width: 238px;
  height: 238px;
  overflow: hidden;
  margin: 12px 18px 12px 0;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}

.imageContainer:last-child {
  margin-right: 0;
}

.threeImages {
  margin-bottom: 20px;
  margin-top: 20px;
}

.threeImagesGrid {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.threeImagesGrid .imageContainer {
  flex: 0 0 50%;
  margin: 0;
  height: 114px;
  border: 2px solid #fff;
}

.threeImagesGrid .imageContainer:last-child {
  flex: 0 0 100%;
}

.storyContainer {
  margin-bottom: 20px;
}

.story {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.storyContainer:last-child .story {
  border-bottom: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

h2 a {
  color: #000;
}

h2 a:hover {
  text-decoration: none;
  color: #000;
}

.edit, .delete {
  width: 18px;
  margin-left: 12px;
}

.editRemove {
  text-align: right;
}

.detail {
  margin-bottom: 5px;
  font-weight: bold;
}

.storyContainer .story h2 {
  size: 30px;
}

.pageTitle {
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.viewMore {
  background-color: #4E0000;
  color: #fff;
  border: none;
  margin-bottom: 50px;
}

.viewMore:hover {
  background-color: #400000;
}

.viewMoreLink:hover {
  text-decoration: none;
}

a {
  color: #4E0000;
}

a:hover {
  color: #4E0000;
}

/* HOMEPAGE STYLES */

.hero {
  background-color: #000;
  height: 500px;
  background-image: url('../images/hero.jpg');
}

.headlineContainer {
  margin-top: 46%;
}

.headline {
  font-size: 40px;
  color: #fff;
  display: block;
}

.features {
  text-align: center;
  margin: 80px 50px 80px 50px;
}

.features i {
  font-size: 80px;
}

.features h4 {
  font-size: 24px;
}

.feature {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.signUp {
  background-color: #666;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.signUp h2 {
  color: #fff;
}

.signUp a:hover {
  text-decoration: none;
}

.signUpButton {
  background-color: #590d0d;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.signUpButton:hover {
  background-color: #4e0000;
}

/* FORM STYLES*/

.error {
  color: red;
}

.container .formContainer input, .container .formContainer textarea {
  margin-bottom: 20px;
  box-shadow: none;
}

form {
  margin-top: 30px;
}

.formContainer textarea:focus, .formContainer input:focus, .formContainer select:focus {
  box-shadow: none;
  border: 1px solid #4E0000;
}

.form-button-save {
  background-color: #AAA;
  color: #fff;
  border: none;
  margin-top: 40px;
}

.form-button-save:hover {
  background-color: #888;
}

.form-button-publish {
  background-color: #4E0000;
  color: #fff;
  border: none;
  margin-top: 40px;
}

.form-button-publish:hover {
  background-color: #400000;
}

.form-button-delete {
  background-color: #4E0000;
  color: #fff;
  border: none;
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-button-delete:hover {
  background-color: #400000;
}

.formContainer {
  margin-top: 60px;
  margin-bottom: 60px;
}


/* NAV STYLES */

.nav {
  padding: 0 30px 0 50px;
  background-color: #4E0000;
  color: #d3d3d3;
  margin-bottom: 0;
}

.navContainer {
  padding-left: 7%;
  padding-right: 7%;
}

.nav a {
  color: #d3d3d3;
  margin-top: 6px;
}

.navbar-right {
  margin-top: 8px;
}

.icon-bar {
  background-color: #d3d3d3;
  margin-top: 8px;
}

.navbar ul a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar ul a:hover {
  color: #333;
}

.login a {
  text-decoration: none;
  font-size: 14px;
  color: #d3d3d3;
}

.login {
  border: 2px solid #d3d3d3;
  padding: 4px;
}

.logo {
  width: 200px;
}

.loggedAs {
  margin-top: 17px;
  color: #808080;
  margin-left: 8px;
  margin-right: 8px;
}

/* TABLE STYLES*/

table {
  margin-top: 30px;
}

.storyPage .storyContainer td, .storyPage .storyContainer th, .storyPage .storyContainer tr {
  padding: 30px;
}

.total {
  font-style: italic;
}
