body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* SHOW PAGE STYLES*/

.image {
  width: 200px;
}


/* FORM STYLES*/

.error {
  color: red;
}
